# Ignore node_modules - will be installed in cloud
rentman-app/node_modules/
rentman-app/android/.gradle/
rentman-app/android/app/build/
rentman-app/.expo/
rentman-app/dist/

# Other large directories
.git/
*.log
